.books-list {
  box-shadow: 0px 0px 4px 0px;
  border-radius: 4px;
  min-height: 400px;
  .title {
    text-align: center;
  }
  .book-item {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  button {
    width: 50px;
    padding: 5px 0;
    border: none;
    border-radius: 5px;
    outline: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }
  .b-delete {
    background-color: red;
  }
  .b-edit {
    background-color: orange;
  }
}
