<div class="books-list">
  <div class="no-book" *ngIf="books && !books.length; else bookListTable">There is no book</div>

  <ng-template #bookListTable>
    <table mat-table [dataSource]="books" class="mat-elevation-z8">
      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>Image</th>
        <td mat-cell *matCellDef="let element" class="image-column">
          <div class="book-image">
            <img src="{{element.image}}" alt="">
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="authorName">
        <th mat-header-cell *matHeaderCellDef>Author name</th>
        <td mat-cell *matCellDef="let element"> {{element.authorName}} </td>
      </ng-container>

      <ng-container matColumnDef="isbn">
        <th mat-header-cell *matHeaderCellDef>ISBN</th>
        <td mat-cell *matCellDef="let element"> {{element.isbn}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-mini-fab color="warn" (click)="delete(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </ng-template>
</div>
