.books-list {
  margin-top: 30px;
  width: 100%;
  .no-book {
    text-align: center;
    color: red;
  }
  table {
    box-shadow: none;
    width: 100%;
    td,th {
      text-align: center;
    }

    .image-column {
      width: 100px;
    }
  }

  .book-image {
    display: flex;
    justify-content: center;
    width: 80px;
    padding: 4px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}
