.books-search {
  margin-top: 30px;
  padding-top: 30px;
  .search-control {
    width: 100%;
    max-width: 520px;
  }
  .search {
    text-align: center;
    input {
    }
  }
  .search-loader {
    margin: 0 auto;
    padding: 20px;
    width: 70%;
  }
  table {
    overflow-y: hidden;
    margin: 0 auto;
    box-shadow: none;
    width: 70%;
    td,th {
      width: 33.333333%;
      text-align: center;
    }

    .image-column {
      width: 100px;
    }
  }

  .book-image {
    display: flex;
    justify-content: center;
    width: 80px;
    padding: 4px;
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}
