<div class="shelve-from">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="shelve-name">Shelve form</div>
      <input placeholder="Shelve name" type="text" formControlName="name" class="form-control" [ngClass]="{ 'is-invalid': submitted && controls.name.errors }" />
      <div *ngIf="submitted" class="invalid-feedback">
        <div *ngIf="controls.name.errors && controls.name.errors.required">Name is required</div>
        <div *ngIf="controls.name.hasError('pattern')">Name is empty</div>
      </div>
    <div>
      <button class="button-add">Add</button>
    </div>
  </form>
</div>
