.shelve {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .go-back {
    position: absolute;
    background-color: blue;
    color: white;
    cursor: pointer;
    padding: 6px;
    border: none;
    outline: none;
  }
  .shelve-title {
    margin: 0;
    text-align: center;
    width: 100%;
    font-size: 32px;
    color: red;
  }
  .books-list {
    width: 30%;
  }
  .books-search {
    width: 40%;
  }
  .book-form {
    width: 30%;
  }
}
